# This is the mailman extension configuration file to enable HyperKitty as an
# archiver. Remember to add the following lines in the mailman.cfg file:
#
# [archiver.hyperkitty]
# class: mailman_hyperkitty.Archiver
# enable: yes
# configuration: /path/to/here/mailman-hyperkitty.cfg
#

[general]
base_url: http://localhost/archives
api_key: SecretArchiverAPIKey
public_url: http://lists.example.com/archives/

# Shared API key, must be the identical to the value in HyperKitty's
# settings.
api_key: SecretArchiverAPIKey
